body {
  background-image: url(./Camila.jpg);
}

/* html{
  scroll-behavior: smooth;
}

body{
  font-family: 'Architects Daughter', cursive;
  font-size: 1.5rem;
color: black;
margin: 0;
}

#nav-bar{
  background-color: black;
  
}

#nav-letters{
  color: white;
} */



